.transfer-success {
  padding-top: 40px;
  background: #98fb98;
}

.transfer-success .detail-div,
.success-mesg-div {
  max-width: 90%;
  background: #fff;
  margin: 50px auto;
  border-radius: 10px;
  position: relative;
  padding-bottom: 20px;
}

.transfer-success .white,
.success-mesg-div .white {
  height: 70px;
  width: 70px;
  background: white;

  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.transfer-success .green,
.success-mesg-div .green {
  height: 62px;
  width: 62px;
  /* background: #00b140; */
  background: #98fb98;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.transfer-success .circle,
.success-mesg-div .circle {
  border-radius: 100%;
}

.transfer-success h3 {
  color: #00b140;
}

.trans-sup {
  font-weight: 300;
  font-size: 12px;
}

.trans-amt {
  color: #565d6b;
  font-weight: bold;
  font-size: 25px;
  padding: 0 15px;
}

.sent-to {
  color: #b6b6b6;
  font-size: 12px;
}

.trans-name,
.trans-amt {
  color: #565d6b;
  font-size: 20px;
}

.trans-u {
  border-bottom: 1px dashed #000;
  text-decoration: none;
  max-width: 90%;
  display: inline-block;
  margin: 10px auto;
}

.hr {
  border-bottom: 1px dotted #565d6b;
  text-decoration: none;
  max-width: 90%;
  margin: 20px auto;
}

.ref-time {
  color: #565d6b;
}

.trans-mark {
  color: #fff;
}

.trans-btns-div {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.trans-btn {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  background: orange;
  margin: 10px 0;
  border-radius: 5px;
}

.trans-btns-div .perform {
  background: green;
  color: #fff;
  opacity: 0.8;
}

.trans-btns-div .dashboard {
  background: #fff;
  opacity: 0.8;
}

.trans-btns-div .perform:hover,
.trans-btns-div .dashboard:hover {
  opacity: 1;
}
