/* .admin-image {
  height: 80px;
  color: black;
} */

.admin-sidebar {
  min-width: 15%;
}

.admin-sidebar-ul li {
  list-style-type: none;
}

.admin-name {
  color: black;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 15px 0;
}

/* .admin-sidebar-li {
  padding: 10px 0;
} */

.admin-sidebar-navlink {
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px;
}

.admin-sidebar-navlink:hover {
  background: lightblue;
}
