.dummy-accounts {
  padding: 3rem;
  background: #add8e6;
  min-height: 85vh;
}

.dummy-accounts-h3 {
  text-align: center;
  margin: 1.5rem;
  color: darkblue;
}

.dummy-accounts-li {
  margin: 2rem;
}

.clipboard-div {
  margin: 1.5rem;
}

.clip-board-input {
  padding: 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.clipboard-btn {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-right: 1rem;
}

.clipboard-btn:hover {
  background: #d3d3d3;
}

.clipboard-thumbs-up {
  color: darkblue;
  visibility: hidden;
}
