.signup-logo {
  text-align: left;
  margin-left: 2rem;
}

.signup-logo a {
  text-decoration: none;
  color: darkblue;
}

#signup-h2 {
  color: darkblue;
}

.signup-logo:hover {
  opacity: 0.8;
}

.signup-container {
  margin-top: 1rem;
}

.signup-input,
.transfer-label + input {
  width: 90%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  outline: none;
}

.signup-container.radio {
  text-align: left;
  margin-left: 2rem;
}

#male,
#female,
#others {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.register-btn,
.transfer-btn,
.send-money-btn {
  width: 90%;
  padding: 15px 0;
  border-radius: 100px;
  outline: none;
  border: none;
  background: dodgerblue;
  color: white;
  text-align: center;
  margin: 2rem 0;
  opacity: 0.8;
  cursor: pointer;
}

.register-btn:hover {
  opacity: 1;
}

.error-message {
  color: red;
  font-size: 1.2rem;
  display: block;
  text-align: left;
  margin-left: 2rem;
}

#logo-spinner {
  width: 50px;
  height: 50px;
  color: darkblue;
  border-radius: 50%;
  background: #d3d3d3;
  font-size: 12px;
  padding-top: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 48%;

  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.register-btn.error {
  cursor: not-allowed;
}
