.confirm-sth {
  padding: 3rem;
  text-align: center;
  background: #add8e6;
  min-height: 85vh;
  background: #98fb98;
  padding-top: 40px;
  position: relative;
}

.confirm-h1 {
  color: darkslategray;
}

.info-change-pin {
  color: coral;
}

.got-it-btn {
  width: 80%;
  background: coral;
  color: #fff;
  display: block;
  margin: 0 auto !important;
  opacity: 0.8;
  animation: flow 30s linear infinite;
  animation-play-state: paused;
}

.got-it-btn:hover,
.got-it-btn:hover {
  opacity: 1;
  animation-play-state: running;
}
