.transfer-details {
  max-height: 400px;
  overflow-y: auto;
}

.transfer-detail {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #f7f7f7;
  margin: 1rem 0;
  font-family: serif;
}

.transfer-amount {
  color: black;
}

.transfer-amount.debit {
  color: red;
}

.transfer-amount.debit::before {
  content: "- ";
}
