.admin-navbar {
  display: flex;
  justify-content: space-between;
  height: 62px;
  padding: 20px;
  background: lightblue;
  align-items: center;
}

.admin-navbar-left {
  display: flex;
}

.hamburger-p {
  margin-right: 20px;
}
